<ion-header>
  <app-toolbar title="CRUD"></app-toolbar>
  <ion-toolbar>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input
              formControlName="firstName"
              type="text"
              required
              placeholder="Primeiro nome"
              id="firstName"
              (keyup.enter)="form.valid ? submitForm() : undefined"
              autofocus
            >
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-input
              formControlName="lastName"
              type="text"
              required
              placeholder="Último nome"
              id="lastName"
              (keyup.enter)="form.valid ? submitForm() : undefined"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            color="success"
            expand="full"
            type="submit"
            [disabled]="!form.valid"
            >{{isEdit ? 'Atualizar' : 'Salvar'}}</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row *ngIf="isEdit === true">
        <ion-col size="12">
          <ion-button color="tertiary" expand="full" (click)="cancelForm()"
            >Cancelar</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>
    <h2 class="type-faces">Tipos de Rostos</h2>
  </ion-label>
  <ion-list>
    <ion-radio-group value="1" (ionChange)="changeFace($event)">
      <ion-item lines="none" class="robot1">
        <ion-label>Robot</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          color="tertiary"
          value="1"
        ></ion-radio>
      </ion-item>
      <ion-item lines="none" class="robot2">
        <ion-label>Robot 2</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          color="tertiary"
          value="3"
        ></ion-radio>
      </ion-item>
      <ion-item lines="none" class="bio-cyborg">
        <ion-label>Bio Cyborg</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          color="tertiary"
          value="2"
        ></ion-radio>
      </ion-item>
      <ion-item lines="none" class="cats">
        <ion-label>Cats</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          color="tertiary"
          value="4"
        ></ion-radio>
      </ion-item>
      <ion-item lines="none" class="human">
        <ion-label>Humano</ion-label>
        <ion-radio
          mode="md"
          slot="start"
          color="tertiary"
          value="5"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let user of users; let id = index">
      <ion-avatar slot="start">
        <img
          src="https://robohash.org/{{user.firstName}} {{user.lastName}}?set=set{{type}}"
        />
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-text color="dark">{{user.firstName}}</ion-text>
        </h2>
        <h3>
          <ion-text color="medium">{{user.lastName}}</ion-text>
        </h3>
      </ion-label>
      <ion-button slot="end" color="tertiary" (click)="update(id)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button
        slot="end"
        color="danger"
        (click)="removeAlert(id)"
        [disabled]="isRemove"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
